<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header') %>
<body>
  <div id="data">
    <p id="message"><%= status %></p>

    <% if (postType === 'MultiplePost') { %>
      <div id="video">
        <div class="section">
          <img id='videoProfileImage' src="<%= profile_pic %>" alt="">
          <h3 id="videoAccountName"><%= full_name %></h3>
          <sub id="videoUserName">@<%= owner %></sub>
        </div>
        <% dataDownload.forEach((media, index) => { %>
          <% const extension = media.is_video ? '.mp4' : '.jpg'; %>
          <div class="section">
            <% if (media.is_video) { %>
              <video class="videoPreviewImage" controls>
                <source src="<%= media.placeholder_url %>" type="video/mp4">
              </video>
            <% } else { %>
              <img class="videoPreviewImage" src="<%= media.placeholder_url %>" alt="">
            <% } %>
            <a class="mediaDownloadLink" href="<%= media.placeholder_url %>" download="<%= mediaFilePrefix %>-<%= index %><%= extension %>">Download</a>
          </div>
        <% }) %>
        <div class="section">
          <p id="videoCaption"><%= caption %></p>
        </div>
      </div>
    <% } else { %>
      <div id="video">
        <div class="section">
          <img id='videoProfileImage' src="<%= profile_pic %>" alt="">
          <h3 id="videoAccountName"><%= full_name %></h3>
          <sub id="videoUserName">@<%= owner %></sub>
        </div>
        <div class="section">
          <img class='videoPreviewImage' src="<%= displayUrl %>" alt="">
        </div>
        <div class="section">
          <% const extension = postType == 'SingleVideo' ? '.mp4' : '.jpg'; %>
          <a id="videoDownloadLink" href="<%= dataDownload %>" download="<%= mediaFilePrefix %><%= extension %>">Download</a>
          <p id="videoCaption"><%= caption %></p>
        </div>
      </div>
    <% } %>

  </div>
<script>

if ("<%= postType %>" !== 'MultiplePost') { 
  const videoDownloadLink = document.getElementById('videoDownloadLink');

  videoDownloadLink.addEventListener('click', (e) => {
    e.preventDefault();
    e.stopPropagation(); // Add this line
    let fileName;
    if (postType === 'SingleVideo') {
      fileName = '<%= mediaFilePrefix %>.mp4';
    } else if (postType === 'SingleImage') {
      fileName = '<%= mediaFilePrefix %>.jpg';
    }
    downloadMedia(videoDownloadLink.href, fileName);
  });
}

document.querySelectorAll('.mediaDownloadLink').forEach((mediaDownloadLink, index) => {
  mediaDownloadLink.addEventListener('click', (e) => {
    e.preventDefault();
    e.stopPropagation();
    const fileName = mediaDownloadLink.getAttribute('download');
    downloadMedia(mediaDownloadLink.href, fileName);
  });
});
  
function downloadMedia(href, fileName) {
  const fileType = fileName.endsWith('.mp4') ? 'video/mp4' : 'image/jpg';
  const xhr = new XMLHttpRequest();
  xhr.open('GET', href, true);
  xhr.responseType = 'blob';
  xhr.onload = function() {
    if (this.status === 200) {
      const blob = new Blob([this.response], { type: fileType });
      const url = URL.createObjectURL(blob);
      const a = document.createElement('a');
      a.href = url;
      a.download = fileName;
      document.body.appendChild(a);
      a.click();
      setTimeout(() => {
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
      }, 100);
    } else {
      console.error('Error downloading file');
    }
  };
  xhr.send();
}

</script>
</body>
</html>